In [1]:
import pandas as pd
import numpy as np
#Read the three files into python as dataframes
file1=pd.read_csv('file1.csv')
file2=pd.read_csv('file2.csv')
file3=pd.read_csv('file3.csv')
#Show the DataFrame's shape.
display(file1.shape)
display(file2.shape)
display(file3.shape)

(4008, 11)

(996, 11)

(7070, 11)

In [2]:
# Standardize header names.
standard_headers_file1= []
for column in file3.columns:
    standard_headers_file1.append(column.lower())
file1.columns = standard_headers_file1
display(standard_headers_file1)
standard_headers_file2= []
for column in file2.columns:
    standard_headers_file2.append(column.lower())
file2.columns = standard_headers_file2
display(standard_headers_file2)
standard_headers_file3= []
for column in file3.columns:
    standard_headers_file3.append(column.lower())
file3.columns = standard_headers_file3
display(standard_headers_file3)

file2=file2.rename(columns={'st':'state'})
display(file2.columns)

['customer',
 'state',
 'customer lifetime value',
 'education',
 'gender',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'total claim amount',
 'vehicle class']

['customer',
 'st',
 'gender',
 'education',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'total claim amount',
 'policy type',
 'vehicle class']

['customer',
 'state',
 'customer lifetime value',
 'education',
 'gender',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'total claim amount',
 'vehicle class']

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')

In [13]:
# Rearrange the columns in the dataframe as needed
file2.columns=['customer','state','gender','education','customer lifetime value','income','monthly premium auto','number of open complaints','policy type','total claim amount','vehicle class']
file2.columns
file2.head()

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,total claim amount,vehicle class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [ ]:
# Concatenate the three dataframes
data=pd.concat([file1,file2,file3], axis=0)
display(data.shape)
data=data.reset_index(drop=True)

In [ ]:
data

In [ ]:
# Which columns are numerical?
data._get_numeric_data()

In [ ]:
#Which columns are categorical?
data.select_dtypes('object')

In [ ]:

#Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.
data['customer lifetime value'].dtypes
data['customer lifetime value']=pd.to_numeric(data['customer lifetime value'], errors='coerce')
data.dtypes

In [ ]:
data['total claim amount'].dtypes
data['total claim amount']=pd.to_numeric(data['total claim amount'], errors='coerce')
data=data.drop(['ctotal claim amount'], axis=1)
data.dtypes

In [ ]:
data.isna().sum()

In [ ]:
#Understand the meaning of all columns
data.dtypes
#Perform the data cleaning operations mentioned so far in class
data2 = data.copy()
#Delete the column education and the number of open complaints from the dataframe.
data2=data.drop(['education','number of open complaints'], axis=1)
display(data2.columns)
#Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.
data2['customer lifetime value']=data2['customer lifetime value']*100
data2['customer lifetime value'].dtypes
data2['customer lifetime value']=pd.to_numeric(data2['customer lifetime value'], errors='coerce')
display(data2.dtypes)
#Check for duplicate rows in the data and remove if any.
data2 = data2.drop_duplicates()
display(data2.head())
display(data2.tail())
#Filter out the data for customers who have an income of 0 or less.
data[(data['income']<=0)]